<div class="container center">
  <div class="row">
    <div class="col s12 m10">
      <h1> {{article.title}}</h1>
    </div>
  </div>
  <div class="row">
    <div class="col s12">
      <h5>Written by {{article.author}}</h5>
      <p>{{article.body}}</p>
      <hr>
      <a class="waves-effect waves-light btn" href="/edit/{{article.id}}">
        <i class="material-icons right">send</i>Edit
      </a>
    </div>
  </div>

</div>